BACKEND-NOVA/src/models/__pycache__/UserModel.cpython-311.pyc
BACKEND-NOVA/src/models/__pycache__/UserModel.cpython-311.pyc
BACKEND-NOVA/src/routes/__pycache__/User.cpython-311.pyc
BACKEND-NOVA/src/models/__pycache__/UserModel.cpython-311.pyc
BACKEND-NOVA/src/models/entities/__pycache__/User.cpython-311.pyc
BACKEND-NOVA/src/routes/__pycache__/User.cpython-311.pyc
